/* imports */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/*EXO font*/

.main {
    height: 100svh;
    width: 100svw;
    overflow-x: hidden;
}

/* Reusable css */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-rowr {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-columnr {
    flex-direction: column-reverse;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}
