/* Overall css */
.main{
    height: 100svh;
    width: 100svw;
}
/* Reusable css */
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}
.flex-rowr {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}
.flex-columnr {
    flex-direction: column-reverse;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}
/* Homepage */
.homepage-main{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homepage-header{
    width: 100%;
    padding: 0.5%;
    background-color: #42B2FE;
    background: linear-gradient(to right, #42B2FE, #001F44);
}
.homepage-header-logo-section,.homepage-header-navigationButtons-section{
width: 50%;

}
.homepage-logo{
    height: 60px;
    width: 50px;
    background-image: url(../../public/images/logo.png);
    background-size: 100% 100%;
}
.homepage-header-navigationButtons-section ul{
    width: 60%;
    
}
.homepage-header-navigationButtons-section ul li{
    margin-right: 14%;
}
.homepage-header-navigationButtons-section ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.getstarted-button{
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}