.userlogin-main {
    width: 100%;
    height: 100%;
    font-family: 'Exo', sans-serif;
}

.userlogin-header {
    width: 100%;
    padding: 0.5%;
    position: absolute;
    top: 0;
}

.userlogin-header-logo-section {
    width: 100%;
}

.userlogin-logo {
    height: 60px;
    width: 50px;
    background-image: url(../../../public/images/logo.png);
    background-size: 100% 100%;
}

.userlogin-loginarea {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #42B2FE, #001F44);

}

.userlogin-loginarea-left,
.userlogin-loginarea-right {
    width: 50%;
    height: 100%;

}

.userlogin-loginarea-left {
    background-color: #DFF0F1;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.userlogin-loginarea-left-text,
.userlogin-loginarea-right-content-heading {
    margin-bottom: 5%;
    font-size: 2.5rem;
}

.userlogin-loginarea-left-loginform {
    width: 60%;
}

.userlogin-radio {
    width: 30px;
    height: 30px;
    margin-right: 10%;
}

.userlogin-loginarea-left-loginform-inputarea {
    width: 100%;
    margin-bottom: 4%;
}

.userlogin-loginarea-left-loginform-inputarearadio {
    margin-right: 20%;
}

.userlogin-loginarea-left-loginform-inputarea-inputboxes {
    width: 100%;
    padding: 2% 1% 2% 1%;
    border-radius: 5px;
    border: 0.8px solid grey;
}

.userlogin-loginarea-left-loginform-submitarea {
    width: 100%;
}

.userlogin-loginform-submitbutton {
    padding: 2% 10% 2% 10%;
    font-size: 1rem;
    border: 0.8px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.userlogin-dropdownbutton {
    width: 100px;
    height: 100px;
    background-image: url(../../../public/images/userlogin-dropdownbutton.gif);
    background-size: 100% 100%;
    margin-top: 5%;
    display: none;

}

.userlogin-loginarea-right-content {
    width: 70%;

}

.userlogin-loginarea-right-content-heading,
.userlogin-loginarea-right-content-text {
    color: white;
    text-align: center;
    margin: 3%;
}

.userlogin-loginarea-right-content-text {
    font-size: 1.8rem;
}

.userlogin-loginarea-right-content-heading {}

.userlogin-loginarea-right-signupbutton {
    padding: 2% 10% 2% 10%;
    font-size: 1rem;
    border: 0.8px solid grey;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
}

.userlogin-inputfields-label {
    font-size: 1rem;

}

.userlogin-inputfields-label:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .userlogin-loginarea-left-text,
    .userlogin-loginarea-right-content-heading {
        font-size: 1.8rem;
    }

    .userlogin-loginarea-right-content-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 468px) {
    .userlogin-header {
        padding: 10px;
    }
    .userlogin-logo {
        height: 30px;
        width: 30px;
    }
    .userlogin-loginarea {
        flex-direction: column;
        height: 200%;
    }

    .userlogin-loginarea-left,
    .userlogin-loginarea-right {
        width: 100%;


    }

    .userlogin-loginarea-left {
        border-radius: 0;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .userlogin-loginarea-left-loginform {
        width: 80%;
    }
    
    .userlogin-dropdownbutton {
        display: flex;
        margin-top: 10%;
    }
}