.userrole-main {
    width: 100%;
    height: 100%;
    font-family: 'Exo', sans-serif;
    background-color: #EAEDEF;
}

.userrole-header {
    width: 100%;
    padding: 0.5%;
}

.userrole-header-logo-section,
.userrole-decsionbutton-section {
    width: 100%;
}

.userrole-logo {
    height: 60px;
    width: 50px;
    background-image: url(../../../public/images/logo.png);
    background-size: 100% 100%;
}

.userrole-text-section {
    width: 100%;
}

.userrole-text {
    margin-top: 5%;
    width: 60%;
    text-align: center;
}

.userrole-decsionbutton-section {
    padding-top: 3%;
}

.userrole-decisionbutton {
    width: 300px;
    height: 250px;
    /* background: linear-gradient(to right, #42B2FE, #001F44); */
    background-color: #007FFF;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
}

.userrole-decisionbutton:hover {
    background-color: #001F44;
}

.userrole-decisionbutton-heading,
.userrole-decisionbutton-text {
    color: white;
    text-align: center;
}

.userrole-decisionbutton-heading {
    font-size: 1.8rem;
    margin-bottom: 10%;
}

.userrole-decisionbutton-text {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .userrole-text {
        font-size: 1.8rem;
        width: 70%;
    }

    .userrole-decisionbutton {
        width: 250px;
        height: 200px;
    }

    .userrole-decisionbutton-heading {
        font-size: 1.5rem;
    }

    .userrole-decisionbutton-text {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 468px) {
    .userrole-header {
        padding: 10px;
    }

    .userrole-logo {
        height: 30px;
        width: 30px;
    }

    .userrole-text {
        font-size: 1.4rem;
        width: 90%;
    }

    .userrole-decsionbutton-section {
        flex-direction: column;
    }

    .userrole-decisionbutton {
        width: 180px;
        height: 150px;
        margin: 1%;
    }

    .userrole-decisionbutton-heading {
        font-size: 1.2rem;
    }

    .userrole-decisionbutton-text {
        font-size: 0.6rem;
    }
}